# Generate CONTRIBUTORS.md: contributors.sh

# Tip for finding duplicates (besides scanning the output of CONTRIBUTORS.md for name
# duplicates that aren't also email duplicates): scan the output of:
#   git log --format='%aE - %aN' | sort -uf
#
# For explanation on this file format: man git-shortlog

Anand Babu (AB) Periasamy <abperiasamy@gmail.com> <ab@unlocksmith.org>
Harshavardhana <harsha@harshavardhana.net> <harsh@harshavardhana.net>
<AndyPi@users.noreply.github.com> Joe Acosta <josepha48@gmail.com>
